extends layout

block content
  .container.main
    .row
      .col-sm-12
        ul.nav.nav-tabs
          li
            a(href='/core/#{core.coreId}/') Core Details
          li
            a(href="/core/#{core.coreId}/watch-inputs") Watch Inputs
          li.active
            a(href="/core/#{core.coreId}/control-outputs") Control Outputs
    .row
      .col-sm-4
        h3 Digital Output 0
        .btn-group
          button.btn.btn-primary#led-on(type='button') Turn LED on
          button.btn.btn-danger#led-off(type='button') Turn LED off

      .col-sm-4
        h3 Analog Output 0
        .form
          .form-group
            input.form-control#servo-input(type='text', placeholder='Between 0 and 4080')
          button.btn.btn-default#servo-move(type='submit') Send to Spark Core
