extends layout

block content
  .container.main.page-control-outputs
    .row
      .col-sm-12
        ul.nav.nav-tabs
          li
            a(href='/core/#{core.coreId}/') Core Details
          li
            a(href="/core/#{core.coreId}/watch-inputs") Watch Inputs
          li.active
            a(href="/core/#{core.coreId}/control-outputs") Control Outputs
    .row
      .col-sm-4
        h3 Digital Output 0
        .btn-group
          button.btn.btn-default#d0-on(type='button') Turn D0 <strong>on</strong>
          button.btn.btn-default#d0-off(type='button') Turn D0 <strong>off</strong>

      .col-sm-4
        h3 Analog Output 0
        .input-group
          input.form-control#a0-input(type='text', placeholder='Analog input value')
          span.input-group-btn
            button.btn.btn-default#a0-button(type='submit') OK
