extends layout

extends layout

block content
  .container.main
    .row
      .col-xs-12
        .panel.panel-default
          .panel-heading
            h1.panel-title Action
          .panel-body
            ul.list-group
              a.list-group-item(href="/core/#{core.coreId}/watch-inputs") Watch Inputs
              a.list-group-item(href="/core/#{core.coreId}/control-outputs") Control Outputs
