extends layout

block content
  h1 Your Core id #{coreId}
  h2 Access Token #{accessToken}

  ul
    li
      a(href="/core/#{color}/watch-inputs") Watch Inputs
    li
      a(href="/core/#{color}/control-outputs") Control Outputs
