extends layout

block content
  .container.main.page-home
    .row
      .col-sm-12
        .panel.panel-default
          .panel-heading
            h1.panel-title Connected Spark Cores
          .panel-body
            ul.list-group
              each core, i in cores
                a.list-group-item(href="core/#{core.opts.coreId}")
                  span.color(style="background-color:#{core.opts.color.toUpperCase()}")
                  span.name #{core.opts.color.toUpperCase()}
                  span.core-details Core Id: #{core.opts.coreId}
