doctype html
html
  head
    title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='/vendor/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/app.js')

    link(rel='stylesheet', href='/vendor/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/app.css')
    if(core)
      script.
        var core = !{JSON.stringify(core)}
  body
    block content
