doctype html
html
  head
    title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='/vendor/jquery.min.js')
    script(src='/socket.io/socket.io.js')

    link(rel='stylesheet', href='/vendor/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/app.css')

    script.
      var socket = io.connect('/');
    - if(core)
      script.
        var core = !{JSON.stringify(core)}
        socket.on('flash-complete', function(data){
          if(core.coreId == data.coreId)
            alert('Your core is updating... this will take a minute. When the LED "breathes blue" your core is ready for testing');
        });

        $(function(){
          $('#header')
            .find('.container')
            .css('border-bottom', '4px solid ' + core.color);
        });


    block head
  body
    #header
      .container
        .row
          .col-xs-12
            .details
              h2 Internet of Wild Things
              h6 For more details, see the <a href='https://github.com/joelongstreet/internet-of-wild-things'>Github repo</a>
            h1
              a(href='/') Barkley

    block content
