extends layout

block head
  script(src='/page-watch-inputs.js')

block content
  .container.main.page-watch-inputs
    include ./_nav

    .row
      .col-sm-12
        p Watch for changes in your digital and analog inputs. If you're not seeing any inputs listed below, please make sure you've configured some by visiting your <a href="/core/#{core.coreId}/">Core Details page</a> . If you're not seeing any data come through, you might be <em>rate limited</em>. Make sure all your inputs and outputs are plugged in correctly and try again.
    .row
      .col-sm-6
        h3 Digital Inputs
        ul.list-group
          - for(var key in core.pins)
            - if(key.indexOf('D') != -1)
              +pin(key)

      .col-sm-6
        h3 Analog Inputs
        ul.list-group
          - for(var key in core.pins)
            - if(key.indexOf('A') != -1)
              +pin(key)


mixin pin(pinId)
  -if(core.pins[pinId] == 'input')
    li.list-group-item
      span.key= pinId
      span.val(id="#{pinId}")
