.container.main{ padding-top: 30px; }

/* Header */
#header{
  border-bottom: 1px solid #ddd;
}
#header h1{
  margin-top: 10px;
}
#header h1 a{
  display: block;
  text-indent: -9999px;
  background: url('/logo.jpg') no-repeat;
  background-size: contain;
  width: 200px;
  height: 50px;
}
#header .details{
  float: right;
}
#header h2{
  font-size: 160%;
  margin-bottom: 4px;
  margin-top: 12px;
}
#header h6{
  margin-top: 0;
  opacity: .7;
}


/* Page - Home */
.page-home span.core-details{
  float: right;
  opacity: .75;
  font-family: Monospace;
}
.page-home span.name{
  padding-left: 3px;
  font-weight: bold;
}
.page-home span.color{
  width: 10px;
  height: 40px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}
.page-home a.list-group-item:first-child span.color{
  border-radius: 4px 0 0 0px;
}
.page-home a.list-group-item:last-child span.color{
  border-radius: 0 0 0 4px;
}


/* Page - Core*/
.page-core h3{
  margin-top: 0px;
  margin-bottom: 20px;
}
.page-core ul:empty{
  margin: 0;
}
.page-core .webhooks label{
  padding-top: 8px;
  float: left;
  font-weight: normal;
  font-size: 90%;
}
.page-core #flash-core{
  float: right;
}
.page-core .panel-footer{
  overflow: hidden;
}
.page-core .webhooks select{
  width: 70%;
  float: right;
}
.page-core .webhooks .form-group{
  overflow: hidden;
}
.page-core .help-block{
  margin-top: 10px;
}
.page-core #accept-hook-notifier .alert{
  font-size: 90%;
  margin: -15px -15px 15px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  padding: 10px;
  border: none;
  word-wrap: break-word;
}
.page-core .panel.accept-hook{
  margin-bottom: 64px;
}
.page-core #reset{
  display: block;
  text-align: right;
  padding-bottom: 6px;
  font-size: 80%;
}
.page-core .delete-hook{
  float: right;
  font-weight: bold;
  color: rgb(200, 20, 80);
}

/* Page - Control Outputs */
.page-control-outputs #digital-outputs .btn-group{
  float: right;
}
.page-control-outputs #digital-outputs li{
  overflow: hidden;
}

/* Page - Watch Inputs */
.page-watch-inputs span.val{
  float: right;
  font-weight: bold;
}
.page-watch-inputs li.list-group-item{
  overflow: hidden;
}


/* Bootstrap Mod */
.help-block{
  font-size: 85%;
}
.nav-tabs{
  margin-bottom:20px;
}
