.container.main{ padding-top: 30px; }


/* Page - Home */
.page-home span.core-details{
  float: right;
  opacity: .75;
}
.page-home span.name{
  padding-left: 3px;
}
.page-home span.color{
  width: 10px;
  height: 40px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 4px 0 0 4px;
}


/* Page - Core*/
.page-core h3{
  margin-top: 0px;
  margin-bottom: 20px;
}
.page-core ul:empty{
  margin: 0;
}
.page-core .nav-tabs{
  margin-bottom:20px;
}
.page-core .webhooks label{
  padding-top: 8px;
  float: left;
  font-weight: normal;
  font-size: 90%;
}
.page-core #flash-core{
  float: right;
}
.page-core .panel-footer{
  overflow: hidden;
}
.page-core .webhooks select{
  width: 70%;
  float: right;
}
.page-core .webhooks .form-group{
  overflow: hidden;
}
.page-core .help-block{
  margin-top: 10px;
}
.page-core #accept-hook-notifier .alert{
  font-size: 90%;
  margin: -15px -15px 15px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  padding: 10px;
  border: none;
  word-wrap: break-word;
}
.page-core .panel.accept-hook{
  margin-bottom: 64px;
}


/* Bootstrap Mod */
.help-block{
  font-size: 85%;
}
